:root {
  --white: #cecece;
  --color-light: #007acc;
  --color-dark: #02568f;
  --black: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas", "Courier";
  letter-spacing: 0.1vw;
}

html {
  min-height: 100%;
}

/* body */

body {
  background-color: var(--black);
  line-height: clamp(20px, 5vh, 30px);
}

a {
  color: var(--white);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.4rem;
}

h1 {
  font-size: 6rem;
}

.main {
  margin: 40px;

  min-height: 70vh;
  /* width: 80%; */
}

.home-wrapper > h1,
.home-wrapper > ul > h3 {
  /* color: blue; */
  text-shadow: 2px 2px 5px var(--black);
}

.title,
.subtitle {
  font-weight: strong;
}

.logo > a {
  text-decoration: none;
}

.home-wrapper {
  position: absolute;
  color: var(--white);
  top: 50%;
  margin-left: 10%;
  width: 100%;
  margin: 0;
  z-index: 10;
  padding: 1rem;
}
.wrapper {
  padding: 1rem;
  /* position: absolute; */
  color: var(--white);
  top: 50%;
  margin-left: 10%;
  width: 100%;
  margin: 0;
  z-index: 10;
  border-top: 1px solid var(--white);
}

.background-img {
  object-fit: cover;
  /* background-image: url(""); */
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  /* height: auto; */
  /* background-attachment: fixed; */
  background-size: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.wrapperHide {
  display: none;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  margin-left: 5vw;
  list-style: circle;
  font-size: 1.2rem;
}

/* header */

.topHeader {
  /* position: absolute; */
  display: flex;
  justify-content: right;
  align-items: center;
  height: clamp(2rem, 10vh, 8rem);
  background: linear-gradient(90deg, var(--color-dark), var(--color-light));
  padding: 3vh;
  line-height: 3vh;
  z-index: -52;
}

.logo {
  position: absolute;
  left: 10px;
  color: var(--white);
}
/* nav */

nav {
  display: flex;
  justify-content: flex-end;
}

.navLinksSide {
  position: absolute;
  top: clamp(2rem, 10vh, 8rem);
  left: 0rem;
  height: 90vh;
  width: 100%;
  background: linear-gradient(90deg, var(--color-dark), var(--color-light));
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: var(--white);
  padding: 1rem;
  list-style: none;
  z-index: 50;
  overflow: hidden;
}

.navLinksSide a {
  text-decoration: none;
}

.burger {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
  z-index: 51;
}

/* footer */

.footer {
  position: relative;
  /* width: 100%; */
  height: 2rem;
  /* margin-top: auto; */
  /* margin-bottom: 0; */
  color: var(--white);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
