:root {
  --color-light: #cecece;
  --color-dark: #235288;
  --color-black: #161616;
  --rps-color1: #0b1d31;
  --rps-color2: #33c474;
  --rps-color3: #0b1d31;
  --rps-color4: darkgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas", "Courier";
  letter-spacing: 0.1vw;
}

/* body */

body {
  background-color: var(--color-black);
  line-height: clamp(15px, 4vh, 30px);
}

a {
  color: var(--color-light);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.5rem;
}

.main {
  margin: 40px;
  color: var(--color-light);
  width: 80%;
}

.title,
.subtitle {
  font-weight: strong;
}

.logo > a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  padding: 2rem;
  height: auto;
  margin-bottom: clamp(10vh, 40px, 15vh);
  /* overflow: hidden; */
  position: relative;
}

.wrapperHide {
  display: none;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  margin-left: 5vw;
  list-style: circle;
  font-size: 1.2rem;
}

/* header */

.topHeader {
  display: flex;
  justify-content: right;
  align-items: center;
  height: clamp(2rem, 10vh, 8rem);
  background-color: var(--color-dark);
  padding: 3vh;
  line-height: 3vh;
  z-index: -52;
}

.logo {
  position: absolute;
  left: 10px;
  color: var(--color-light);
}
/* nav */

nav {
  display: flex;
  justify-content: flex-end;
}

.navLinksSide {
  position: absolute;
  top: clamp(2rem, 10vh, 8rem);
  left: 0rem;
  height: 80vh;
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: var(--color-light);
  padding: 1rem;
  list-style: none;
  z-index: 50;
  overflow: hidden;
  /* opacity: 0.5; */
}

.navLinksSide a {
  text-decoration: none;
}

.burger {
  cursor: pointer;
  color: var(--color-light);
  z-index: 51;
}

/* .nav-active {
  transform: translateX(0%);
  margin-top: 4vh;
  z-index: 10;
}

.navAnim {
  animation-name: navLinkFade;
  animation-duration: 1s;
} */

/* footer */

.footer {
  /* display: none; */
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: clamp(10vh, 40px, 15vh);
  margin-top: auto;
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 2rem;
  text-align: right;
}

/* media queries */
/* 
@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    background-color: var(--color-dark);
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.1s ease-in;
  }
  .nav-links li {
    opacity: 100%;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
} */

/* animations */

/* @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */

/* rps flashing */
@keyframes flashing {
  0% {
    background-color: var(--rps-color2);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
