:root {
  --color-light: #cecece;
  --color-dark: #0b1d31;
  --color-black: #161616;
  --rps-color1: #0b1d31;
  --rps-color2: #33c474;
  --rps-color3: #0b1d31;
  --rps-color4: darkgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas", "Courier";
  letter-spacing: 0.1vw;
}

/* body */

body {
  background-color: var(--color-black);
  line-height: 4vh;
}

a {
  color: var(--color-light);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

.main {
  margin: 40px;
  color: var(--color-light);
  width: 80%;
}

.title,
.subtitle {
  font-weight: strong;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  margin-left: 5vw;
  list-style: circle;
  font-size: 1.2rem;
}

/* header */

.topHeader {
  display: flex;
}

/* nav */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  background-color: var(--color-dark);
  padding: 3vh;
  line-height: 3vh;
}

.logo {
  position: absolute;
  left: 10px;
  color: var(--color-light);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  color: var(--color-light);
  padding: 6vh 0 6vh 0;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  background-color: var(--color-light);
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
  margin-top: 4vh;
  z-index: 10;
}

.navAnim {
  animation-name: navLinkFade;
  animation-duration: 1s;
}

/* burger divs animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* footer */

.footer {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 2vw;
  text-align: right;
}

/* media queries */

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    background-color: var(--color-dark);
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.1s ease-in;
  }
  .nav-links li {
    opacity: 100%;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

/* animations */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* rps flashing */
@keyframes flashing {
  0% {
    background-color: var(--rps-color2);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* development */

.testbtn {
  font-size: 12px;
}
